@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Poppins:wght@300;500&family=Quicksand&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --saturatedblue: rgb(33, 170, 216);
  --white: #fff;
  --lightgray: rgb(177, 175, 175);
  --darkblue: hsl(240, 54%, 46%);
  --red: rgb(255, 0, 0);
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Poppins", sans-serif;
  background-color: rgb(247, 244, 244);
}

/* Navigation Styling */

/* .hamburger-menu {
  display: none;
  cursor: pointer;
} */
/* 
.hamburger-menu .bar {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
  display: block;
} */

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 4rem;
  background-color: var(--white);
}

nav ul li {
  display: inline-block;
  text-align: center;
  justify-content: center;
  padding: 0 1.5rem;
  cursor: pointer;
}

nav ul li a {
  color: var(--black);
  font-weight: 400;
  font-size: 1.1rem;
}

nav ul li a:active,
nav ul li a:hover {
  color: var(--darkblue);
  transition: 0.3s;
}

button {
  padding: 0.9rem 1.7rem;
  border: none;
  border-radius: 0.5rem;
  transition: 0.4s;
  font-size: 0.9rem;
  font-weight: 200;
  margin: 0.4rem;
  cursor: pointer;
  background-color: var(--saturatedblue);

}

.login {
  background-color: var(--saturatedblue);
  color: var(--white);
}

.login {
  background-color: var(--white);
}

.login a {
  color: var(--saturatedblue);
  font-weight: 600;
  font-size: 1.2rem;
}

.signup a {
  color: var(--white);
  font-weight: 600;
}

.signup:hover {
  background-color: var(--darkblue);
  color: var(--black);
}

/* .btn-sign-in:hover {
  color: var(--white);
  background-color: var(--saturatedblue);
} */
/* End of Navigation Styling */

/* Hero Section Styling */
.hero {
  display: flex;
  margin: 0 6rem;
}

.hero-container {
  display: flex;
  align-items: center;
}

.left-info {
  text-align: left;
  margin-left: 6rem;
}

span {
  color: var(--red);
}

.left-info h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  color: var(--saturatedblue);
}

.left-info p {
  margin-top: 10px;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.hero-image {
  margin-left: 5rem;
}

.hero-image img {
  border-radius: 50%;
  width: 60%;
  height: 50%;
  object-fit: cover;
}

.get-started {
  padding: 15px 25px;
  font-size: 1rem;
  font-family: "Quicksand", sans-serif;
  background-color: var(--saturatedblue);
  color: var(--white);
  transition: 0.4s;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.get-started:hover {
  background-color: var(--darkblue);
}

/* Why Us Styling */
#service {
  display: grid;
  gap: 20px;
  margin: 3rem;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  /* margin: 3rem 0; */
}

.card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image {
  position: relative;
}

.image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.image p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px 12px;
  border-radius: 4px;
}

h6 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 16px;
}

p {
  font-size: 14px;
  margin-top: 8px;
}

/* About Us Styling */
.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.left-section img {
  width: 100%;
  height: 90%;
  border-radius: 8px;
}

.about-text {
  flex-direction: column;
  justify-content: center;
}

h4 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 20px;
  line-height: 1.8;
  font-family: "Quicksand", sans-serif;
}

/* Feedback Section Styling */
.feedback {
  background-color: var(--white);
  padding: 3rem 0;
}

.feedback-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feedback-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.feedback-content img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.feedback-content p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
  font-weight: 600;
}

.name {
  margin-bottom: 3px;
  color: var(--saturatedblue);
  font-weight: normal;
}

h6 {
  font-weight: normal;
  margin: 0;
  color: var(--saturatedblue);
}

/* Contact Us Section */
.contact-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  align-items: center;
  text-align: center;
  position: relative;
}

.contact-container img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.contact-text {
  position: absolute;
  grid-column: 1 / -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-text h1 {
  font-size: 32px;
  padding-bottom: 1.5rem;
  text-transform: capitalize;
  color: var(--white);
}

.contact-text button {
  padding: 15px 20px;
  font-size: 16px;
  background-color: var(--white);
}

/* Footer Section Styling */
footer {
  background-color: #003466;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer-container img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.footer-container hr {
  width: 80%;
  margin: 10px 0;
  color: var(--white);
}

.nav-links {
  margin-bottom: 10px;
}

.nav-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color: var(--white);
  font-size: 14px;
  padding-right: 1rem;
}

.nav-links a:hover {
  color: #777;
}

.social-links {
  margin-bottom: 10px;
}

.social-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  margin: 0 10px;
}

.fa-brands {
  color: var(--white);
  font-size: 16px;
  padding-right: 20px;
}

.footer-container p {
  font-size: 12px;
  color: #E9E9E9;
  margin: 0;
}


/* Media Query */
@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
    margin: auto;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .nav-list.show {
    display: flex;
    flex-direction: column;
  }

  .menu,
  .right-nav {
    display: flex;
    flex-direction: column;
  }

  .hamburger-menu {
    display: block;
    z-index: 100;
  }

  .hamburger-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .hero-container {
    flex-direction: column;
    align-items: center;
  }

  .hero-image {
    margin-top: 20px;
    margin-left: 0;
  }

  .hero-image img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }

  .contact-container {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .contact-text h1 {
    font-size: 20px;
  }

  .nav-links ul {
    flex-direction: column;
    align-items: center;
  }

  .nav-links li {
    margin: 5px 0;
  }
}

@media screen and (max-width: 600px) {
  .hero {
    margin: 0 2rem;
  }

  .left-info {
    text-align: center;
    justify-content: center;
  }
  
  .left-info h1 {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .left-info p {
    line-height: 1.5;
    margin-bottom: 5px;
  }

  .get-started {
   margin: 2rem auto;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-text {
    margin: 0 3rem;
  }

  .about-text h4 {
    text-align: center;
    justify-content: center;
  }

  .left-section img {
    width: 110%;
  }

  .feedback-content p {
    width: 75%;
  }

  .contact-container img {
    height: 45vh;
  }

  .contact-text h1 {
    font-size: 20px;
  }
}
